#root {
  max-width: 280px;
  margin: 0 auto 0 ;
  padding: 2rem;
  text-align: start;
}


.main{
  background-color: #F9F8F6;
  box-shadow: 5px 5px 5px black;
 }

.line{
  border: 1px solid rgb(173, 178, 178);
  padding: 5px 0px;
}
#border{
border: 1px solid rgb(173, 178, 178); 
padding: 5px;
 margin: 0px 2px 0px 0px;
}

.header{
color: black;
text-align: start;
 padding: 0px 0px 0px 10px ;
}

p{
  color: black;
 text-align :justify;
  padding: 0px 10px 0px 10px  ;

}

img{
  width: 110px;
  height: 110px;
  margin: 0px 65px 0px 70px;
  }


#inputID{
  background-color: #F9F8F6;
   color:black;
   height: 25px;
   border: none;
   cursor: pointer;
}
#inputID:focus{
outline: none;

}

#btn{
    background-color: #F9F8F6;
    color:blue;
    height: 25px;
    border: none;
    cursor: pointer;
}

a{
  text-decoration: none;
  text-align: start;
  padding-left:5px ;
  color: blue;
}